<blog-entry-form *ngIf="editing"
                 [blog]="blog"
                 (submitted)="saveOrUpdate($event)"
                 (cancelled)="refresh()"></blog-entry-form>
<div class="row" *ngIf="!editing">
  <div id="blog-roll-panel" class="col-sm-12">
    <p>
      <a href="#" (click)="newBlogEntry()">
        <i class="fa fa-2x fa-plus-circle">
          Add...
        </i>
      </a>
    </p>
    <table class="table table-bordered table-striped table-condensed">
      <tr>
        <th>Actions</th>
        <th>Title</th>
        <th>Content</th>
      </tr>
      <tr class="rows" *ngFor="let blog of blogs">
        <td>
          <a href="#" role="button" (click)="editBlogEntry(blog)">
            <i class="fa fa-2x fa-edit"></i>
          </a>
          &nbsp;
          <a href="#" role="button" (click)="deleteBlogEntry(blog)">
            <i class="fa fa-2x fa-trash"></i>
          </a>
        </td>
        <td class="table-cell">
          <span class="title">{{ blog.title }}</span>
        </td>
        <td>
          <div [innerHtml]="blog.contentMarkdown"></div>
        </td>
      </tr>
    </table>
  </div>
</div>
